<style>
.avatar {

    vertical-align: middle;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

  }

  .about {
    /*align-items: center;*/
  }

</style>

<div class="row first-xs between-sm about" markdown="1">
  <div class="col-xs-12 col-md-3 center-xs middle-xs">

    <img class="avatar" src="/img/olifrost-avatar.jpg">
    </div>
  <div class="col-xs-12 col-md-9" markdown="1">
  {% include bio %} At the moment, I am busy [refrosting the planet](/refrost).

  {% include actions %}

  </div>
