<div class="project-section">
  {% if include.project.video != nil %}
  <div class="youtube-player" data-id="{{ include.project.video }}"
  {% if include.project.image %}
  data-thumb="{{ include.project.image }}"
  {% else %}
  data-thumb="https://i.ytimg.com/vi/{{ include.project.video }}/maxresdefault.jpg"
  {% endif %}
  >
  </div>
  {% else %}
    <img src="{{ include.project.image | relative_url }}">
  {% endif %}
  {% if include.project.title %}
  {% if include.project.link != nil %}
  <a href="{{ include.project.link }}"><span class="title">>> {{ include.project.title }}</span></a>
  {% else %}
  <span class="title">>> {{ include.project.title }}</span>
  {% endif %}
  {% endif %}
  {% if include.project.description %}<p>
    {{ include.project.description }}<br>
    {% if include.project.partner != nil %}<span class="partner">Made with {{ include.project.partner }}</span>{% endif %}
    {% if include.project.press != nil %}{% for press in site.data.press[include.project.press] %}<a href="{{ press.article_link }}" class="press">{{ press.name }}{% if forloop.last == false %},{% else %}.{% endif %}</a> {% endfor %}{% endif %}
  </p>
  {% endif %}
</div>
