
// Layout

.container {
	margin: 0 auto;
	max-width: 105.0rem;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;
}


// Page list
.page-list {
  text-align: center;
}

.center {
	text-align: center;
}

// Footer

/*main div:last-child p {
  margin-bottom: 0rem;
}*/

footer {
  margin-top: 3.5rem;
  color: $gray-3;
  margin-bottom: 2rem;
  text-align: left;
  }


// Project Sectinos
.posts {
  margin-top: 6rem;
}

.project-section {
  margin-top: 2.5rem;
  height: 100%;
}

h1.post-title {
  margin-bottom: 0rem;
}


// Header

header {
    margin-top: 3.5rem;
    margin-bottom: 3rem;

    a {
      color: inherit;
    }
  }
.latest {
  font-size: 2.5rem;
}

.navigation {
  text-align: center;
   a {
     color: $blue;
   }
   ul {
     list-style: none;
     display: inline-block;

   }
   li {
     display: inline-block;
     font-size: 2rem;
     margin-bottom: 2rem;
     margin-left: 0.5rem;
   }
   .active a {
     color: $color-secondary;
   }
   li:first-child {
     margin-left: 0rem;
   }
   li:after {
     content:" / ";
   }
   li:last-child:after {
     content: "";
   }
}

.name {
  float: left;
  margin-bottom: 0rem;

}
.pages {
  line-height: 2.5rem;
  margin-bottom: 0rem;
  float: right;
}

.nw {
  white-space: nowrap;
}



header .social {
    float: right;
}

footer .social {
  float: left;
}



@media only screen and (min-width: $first-breakpoint) {

    .pages {
      float: none;

    }


    footer .social, header .social {
      position: relative;
      bottom: 1rem;
    }

}

footer .social .icons {
  position: relative;
  bottom: -0.6em;
  margin-right: 1rem;
}

/*
footer input[type='submit'] {
	position: relative;
  top: -0px;
  left: -2rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
*/

.footer {
  text-align: right;
}

@media only screen and (max-width: $first-breakpoint) {

  header .social {
    float: left;
  }
  .footer {
    text-align: left;
  }

.footer-social {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
footer .social {
  margin-bottom: 2.5rem;
}



}

// Icons

.icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    position: relative;
    bottom: 0.5rem;

    svg {
        width: 100%;
        height: 100%;
        path {
            fill: $black;
        }
    }
}


.icon--twitter, .icon--instagram, .icon--mail, .icon--facebook, .icon--youtube {
  height: 3rem;
  width: 3rem;
  bottom: -0.0rem;
  margin-right: 0rem
}

.icon--mail {

  height: 3.7rem;
  width: 5.6rem;
  bottom: -0.45rem;

}

.icon--instagram {
  height: 2.7rem;
  width: 2.7rem;
}

.icon--twitter, .icon--youtube {
  margin-right: 1rem;
  bottom: -0.15rem;
}
.icon:last-child {
  /*margin-right: 0;*/
}

small a:first-child {
  /*margin-right: 1rem;*/
}

.press {
  color: $gray-2;
}
.partner {
  font-size: 2rem;

}
