// Layout

.container {
	margin: 0 auto;
	max-width: 105.0rem;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;
}


// Page list
.page-list {
  text-align: center;
}

.center {
	text-align: center;
}

// Project Sections 
.posts {
  margin-top: 3rem;
}

.project-section {
  margin-top: 2.5rem;
  height: 100%;
}

.project-image {
	margin-bottom: 2.5rem;
}

h1.post-title {
  margin-bottom: 0rem;
}


// Header

header {
    margin-top: 3.5rem;
    margin-bottom: 3rem;

    a {
      color: inherit;
    }
  }
.latest {
  font-size: 2.5rem;
}

.navigation {
  text-align: center;
   a {
     color: $blue;
   }
   ul {
     list-style: none;
     display: inline-block;

   }
   li {
     display: inline-block;
     font-size: 2rem;
     margin-bottom: 2rem;
     margin-left: 0.5rem;
   }
   .active a {
     color: $color-secondary;
   }
   li:first-child {
     margin-left: 0rem;
   }
   li:after {
     content:" / ";
   }
   li:last-child:after {
     content: "";
   }
}

.name {
  margin-bottom: 0rem;
}
.pages {
  line-height: 2.5rem;
  margin-bottom: 0rem;
  
}
.nw {
  white-space: nowrap;
}

.disclaimer {
  text-align: left;
  margin-top: 2rem;
}

// Footer



footer {
  margin-top: 3.5rem;
  color: $gray-3;
  margin-bottom: 2rem;
  text-align: left;
  }




// Pages Bar


.navigation {
  margin-top: 1.5rem;
}

.mailing-list {
  margin-bottom: 2.5rem;
}

.social  {
    float:left;
}

@media only screen and (min-width: $first-breakpoint) {

    .social {
        float: right;
    }

.mailing-list {
  margin-bottom: 0rem;
}

.navigation {
  margin-top: 0rem;
  
}

}

/* Press */

/* Icons */

.social {
  position: relative; 
  top: -0.5em;
}

.social a {
    margin-right: 1em;
}

.icon {
    display: inline-flex;
    align-self: center;
    
}

.icon svg, .icon img {
    height: 1.5em;
    width: 1.5em;
    fill: black;
    
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}


.icon--twitter, .icon--instagram, .icon--mail, .icon--facebook, .icon--youtube, .icon--spotify, .icon--tiktok {

}

.icon--mail {
}

.icon--instagram { 
}

.icon--youtube svg {
 
width: 1.6em;
height: 2.3em;
bottom: -0.35em;
    position: relative;
    
}

.icon--spotify svg {  
}

.icon--tiktok svg {

}

.icon--twitter {
  
}
.social a:last-child {
  margin-right: 0;
}

small a:first-child {
  /*margin-right: 1rem;*/
}

@media screen and (max-width: 20em) {
.icon--twitter {
  display: none;
}
.social a:nth-last-child(3) {
  margin-right: 0;
}

}


