// Color
$green: #00d37a !default;
$emerald: #10a380 !default;
$dark-green: #1f3f4d !default;
$greeny: #01df74 !default;
$lime: #49ab0e !default;
$red: #f31554 !default;
$orangey-yellow: #ffb800 !default;
$yellow: #f4f04e !default;
$blue: #020cfa !default;
$maroon: #3b022b !default;
$pink: #e600eb !default;
$turquoise: #0ecadd !default;
$purple: #9e25e8 !default;
$mauve: #9e25e8 !default;
$grey: #606060 !default;

// Gray
$gray-1: #f9f9f9;
$gray-2: #bababa;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;
$black: #000;

$font-family:  'Calibre', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$color-initial: #fff !default;
$color-primary: $blue;
$color-secondary: #313131;
$color-gray: #313131;

$color-tertiary: #E6C700 !default;
$color-quaternary: #E61F00 !default;

$first-breakpoint: 38em;
$second-breakpoint: 64em;
$third-breakpoint: 75em;
