@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-display: "Calibre", "sans-serif";
    --font-weight-light: 220;
}

:root {
    --accent: 35, 55, 255;    
}

/* Font faces */
@font-face {
    font-family: 'Calibre';
    src: url('/fonts/Calibre-Light.otf') format('opentype'),
         url('/fonts/Calibre-Light.woff') format('woff'),
         url('/fonts/Calibre-Light.ttf') format('truetype'),
         url('/fonts/Calibre-Light.svg#Calibre-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Calibre;
    src: url('/fonts/calibre-semibold-webfont.eot');
    src: url('/fonts/calibre-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/calibre-semibold-webfont.woff') format('woff'),
         url('/fonts/calibre-semibold-webfont.ttf') format('truetype'),
         url('/fonts/calibre-semibold-webfont.svg#calibresemibold') format('svg');
    font-weight: 800;
    font-style: normal;
}

article lite-youtube {
    margin-bottom: calc(var(--spacing)* 8);
}

a {
    text-decoration: none;
}

.link-preview {
 --link-preview-corners: 0.5em;
 --link-preview-width: 40em;
  --link-preview-padding-inline: 0.75rem;
  @apply bg-neutral-50 text-neutral-600 border-1 border-neutral-100;
}
.link-preview img {
    @apply rounded-b-none;
}
.link-preview a {
    @apply text-blue-600;
  font-weight: bold;
  text-decoration: none;
}

lite-youtube > .lty-playbtn {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="blue"/><path d="M45 24 27 14v20" fill="white"/></svg>') !important;
}