---
title: Oli Frost Refrosts The Planet
description: Also known as Ollie Frost, Olly Frost, or Oliver Frost
style: custom
layout: links
permalink: /links
---

<style>
h2 a:hover {
  color:  #020cfa;
}


.svg-icon {
  display: inline-flex;
  align-self: center;
}
.svg-icon svg {
  height:1.5em;
  width:1.5em;
}
.svg-icon.svg-baseline svg {
  top: .125em;
  position: relative;
}

</style>

<h2><a href="https://olifro.st">oli<span>fro.st</span></a></h2>

<small class="social">

  {% include icon-youtube.html username=site.author.instagram %}
  {% include icon-instagram.html username=site.author.instagram %}
  {% include icon-spotify.html username=site.author.spotify %}
  {% include icon-tiktok.html username=site.author.tiktok %}
  {% include icon-twitter.html username=site.twitter.username %}
</small>


<ul class="tree">
{% for item in site.data.links.docs %}
<li>
  <a href="{{ item.url }}" alt="{{ item.title }}">
    {{ item.title }}</a> 
</li>
{% endfor %}
</ul>
