---
title: Oli Frost Refrosts The Planet
description: Also known as Ollie Frost, Olly Frost, or Oliver Frost
style: custom
layout: links
permalink: /links
---

<style>
h2 a:hover {
  color:  #020cfa;
}
.social {
  justify-content: center;
  bottom: 0em;
}

@media screen and (max-width: 20em) {
  .icon--twitter, .icon--mail {
    display: none;
}
.social a:nth-last-child(2) {
  margin-right: 0;
}

.tree li a .icon-baseline {
  position: relative;
  
}
}

.video-svg {
    transform: translateY(1px) !important;
} 




</style>

<h2><a href="https://olifro.st">oli<span>fro.st</span></a></h2>

<div class="row">
<div class="col-xs-12">
{% include contact.html %}

</div>
</div>


<ul class="tree">
{% for item in site.data.links.docs %}
<li>
  <a href="{{ item.url }}" title="{{ item.title }}">
    <span class="icon-baseline">
      {{ item.icon }}
    </span>
    <span class="text">
      {{ item.title }}
    </span>
  </a> 
</li>
{% endfor %}
</ul>