---
interface Props {
    postUrl: string;
    caption?: boolean;
    title?: string;
}

const { postUrl, caption = true, title = "Instagram Post" } = Astro.props;
---

<div class="w-full bg-gray-100 my-4">
    <div class="mx-auto w-full sm:w-3/4 md:max-w-[540px]">
        <blockquote 
            class="instagram-media" 
            
            data-instgrm-permalink={postUrl}
            style="background:#FFF; border:0; border-radius:3px; max-width:540px; min-width:326px; min-height:800px; padding:0; width:99.375%;"
        >
            <div style="padding:16px;">
           
            </div>
        </blockquote>
    </div>
</div>

<script is:inline>
    // Load Instagram embed script once the page is loaded
    window.onload = function() {
        const script = document.createElement('script');
        script.src = 'https://www.instagram.com/embed.js';
        script.async = true;
        document.body.appendChild(script);
    }
</script>