---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <header>
        <div class="container">


          <div class="row first-xs between-sm">
            <div class="col-xs-5 col-sm-4">
              <h3 class="name"><a {% for item in site.data.subpages.docs %}{% if item.url == page.url %}class="subpage"{% endif %}{% endfor %} href="{{ site.baseurl }}/">olifro.st</a>{% for item in site.data.subpages.docs %}{% if item.url == page.url %}<a href="{{ item.url }}" alt="{{ item.title }}">/{{ item.title }}</a>{% endif %}{% endfor %}</h3>
            </div>
            <div class="col-xs-7 col-sm-4 navigation">
              <ul class="pages">
              {% for item in site.data.pages.docs %}<li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>{% endfor %}
            </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% include contact.html %}
            </div>
          </div>



          </div>

        </div>
    </header>

    <div class="container">
        <main class="content">
            {{ content }}
        </main>
        {% include footer.html %}
    </div>

    {% include javascript.html %}


</body>
