---
layout: default
---

<a href="{% link blog.md %}">← All Posts</a> / <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>

<article class="post">


  {% if page.archive == nil %}<h1 class="post-title">{{ page.title }}</h1>{% endif %}
  {% if page.description %}<p class="post-description">{{ page.description | markdownify }}</p>{% endif %}
  <p>{{ content }}</p>


  <p><strong>Read Next</strong> {% for post in site.related_posts limit:1 %}
  <a href="{{ post.url }}">» {{ post.title }} </a><br>
  {% endfor %}
  </p>
  <span style="font-size:2rem;"><a href="/">work</a> / <a href="{% link blog.md %}">blog</a> / <a href="/about">about</a></span>


</article>
